body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: monospace, serif;
}

input {
  margin: 10px;
}

#grid {
  display: flex;
  flex: 0 0;
  flex-wrap: wrap;
  margin: 10px;
  width: 900px;
  height: 900px;
}

.gridbox {
  flex: 1 1;
  outline: lightgrey solid 1px;
}

#clear {
  font-weight: 800;
}

footer {
  margin: 30px 0px 15px 0px;
}
