body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 980px;
  height: 980px;
}

.gridbox {
  flex: 1 1;
  outline: black auto 5px;
}
